body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
}

a {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    padding: 25px 40px;
    color: #21b4f3;
    border: 3px solid #2196f3;
    border-radius: 10px;
    text-transform: none;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.3s;
}

a:hover {
    color: rgb(186, 227, 235);
    background: #052038;
    border: 5px;
    box-shadow: 0 0 70px #5e768a;
    transition-delay: 0.1s;
    filter: brightness(90%);
}